# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Dependency directories
node_modules/
jspm_packages

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Coverage reports
coverage

# Editors
.idea
*.iml

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock
*.sqlite